<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Polling</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

            <a class="nav-link" href="/dash">Dashboard</a>
            <a class="nav-link" href="/upload">Upload</a>
            <a class="nav-link" href="/saveDev">Devices</a>
            <a class="nav-link" href="/saveCloud">Clouds</a>
            <a class="nav-link" href="/saveCoordinates">Polling</a>
            </ul>
        </div>
    </nav>

    <div class="container">
        <br />
        <h4>Configure Polling</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><span class="glyphicon glyphicon-screenshot"></span> OID</th>
                    <th scope="col"><span class="glyphicon glyphicon-triangle-bottom"></span> Operation</th>
                    <th scope="col"><span class="glyphicon glyphicon-inbox"></span> Device</th>
                    <th scope="col"><span class="glyphicon glyphicon-triangle-top"></span> Topic</th>
                    <th scope="col"><span class="glyphicon glyphicon-time"></span> Interval</th>
                    <th scope="col"><span class="glyphicon glyphicon-cog"></span> Action</th>

                </tr>
            </thead>
            <tbody id="coordinatesTable">
                <tr id="control">
                    <td> <input type="text" id="OID" class="form-control" placeholder="Enter a OID"></td>
                    <td>
                        <select class="form-control" id="snmpOper">
                            <option value="Get">Get</option>
                            <option value="Get-Next">GetNext</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            {% for x in devices %}
                                <option id ="ipAddr" value = "{{ x.name }}">{{ x.addr }}({{ x.name  }})</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td> <div class="form-row align-items-center"><input type="text" id="topic" class="form-control" placeholder="Set a Topic"></div></td>
                    <td> <div class="form-row align-items-center"><input type="text" id="interval" class="form-control" value="30"></div></td>
                    <th><button type="button" id="addDev" class="btn btn-outline-success"> <span class="glyphicon glyphicon-plus"></span>  Create</button></th>

                </tr>

                {% for y in coordinates %}
                <tr>
                    <td> {{ y.oid }}</td>
                    <td> {{ y.snmpOper }}</td>
                    <td> {{ y.devName }}</td>
                    <td> {{ y.topic }}</td>
                    <td> {{ y.interval }}</td>
                    <td><button onclick="deleteMe(this)" class="btn btn-outline-danger" type="button"> <span class="glyphicon glyphicon-minus"></span>  Delete</button></td>

                </tr>
                {% endfor %}


        </table>

    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-warning float-center col-5" id="polling"><span class="glyphicon glyphicon-play"></span> Start Polling</button>
                &nbsp;
                <button type="button" class="btn btn-success float-center col-5" id="saveCfg"> <span class="glyphicon glyphicon-save"></span> Save All Coordinates</button>
            </div>
        </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toastInfo">
        <div class="toast-header">
            <strong class="mr-auto">Info!</strong>
            <small class="text-muted"></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" >
        <ul id="toastContent">
        </ul>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        $( document ).ready(function() {
            $.ajax({
                type: 'GET',
                url: '/start',
                success: function (data) {
                    if (data['started'])
                    {
                        $("#polling").removeClass("btn-warning");
                        $("#polling").addClass("btn-success");
                    }
                    else
                    {
                        $("#polling").removeClass("btn-success");
                        $("#polling").addClass("btn-warning");
                    }
                },
                contentType: "application/json",
                dataType: 'json'
            });
        });

        $('.toast').toast({delay: 25000}); //25 seconds

        $("#saveCfg").click(function () {
            var objCfg = [];
            $('#coordinatesTable tr').each(function (i, row) {
                if (i == 0) {
                    return; //Continue
                }

                $(row).children("td").each(function (i, col) {
                    switch (i) {
                        case 0:
                            oid = $(col).text();
                            break;
                        case 1:
                            oper = $(col).text();
                            break;
                        case 2:
                            name = $(col).text();
                            break;
                        case 3:
                            topic = $(col).text();
                            break;
                        case 4:
                            interval = $(col).text();
                            break;
                        default:
                            break;
                    }
                });
                var row = { oid: oid, oper:oper, name: name, topic: topic, interval: interval };
                objCfg.push(row);
            });


            $.ajax({
                type: 'POST',
                url: '/saveCoordinates',
                data: JSON.stringify(objCfg),
                success: function (data) {
                    $("#saveCfg").removeClass("btn-warning");
                    $("#saveCfg").addClass("btn-success");
                    $("#toastContent").html("<li>All Configuration Successfully Saved! </li>");
                    $('#toastInfo').toast('show');
                    //Stop polling on save
                    $("#polling").removeClass("btn-success");
                    $("#polling").addClass("btn-warning");
                },
                contentType: "application/json",
                dataType: 'json'
            });

        });

        $("#polling").click(function () {
            var objCfg = [];
            var action = { action: "start" };
            objCfg.push(action);

            $.ajax({
                type: 'POST',
                url: '/start',
                data: JSON.stringify(objCfg),
                success: function (data) {
                    console.log(data);
                    $("#polling").removeClass("btn-warning");
                    $("#polling").addClass("btn-success");
                    $("#toastContent").html("<li>Polling Started!</li>");
                    $('#toastInfo').toast('show');
                },
                contentType: "application/json",
                dataType: 'json'
            });
        });


        $("#addDev").click(function () {
            var error = false;
            var table = $("#coordinatesTable");
            var errorStatus = "";

            var OID = $("#OID").val(); //snmpOper
            var oper = $("#snmpOper").val();
            var ip = $("#ipAddr").val();
            var topic = $("#topic").val();
            var interval = $("#interval").val();

            if (!checkOID(OID)) {
                error = true;
                errorStatus = "<li>OID is Not Valid!</li>"
            }

            if (!checkTopic(topic)) {
                error = true;
                errorStatus += "<li>Topic is Not Valid, It Cannot Contain Spaces!</li>"
            }

            if (!checkinterval(interval)) {
                error = true;
                errorStatus += "<li>Internal is Not Valid, It Must Be a Number!</li>"
            }

            if (error) {
                $("#toastContent").html(errorStatus);
                $('#toastInfo').toast('show');
                return;
            }

            table.append('<tr><td>' + OID + '</td><td>' + oper + ' </td><td>' + ip + ' </td><td>' + topic + '</td><td>' + interval + '</td><td><button onclick="deleteMe(this)" class="btn btn-outline-danger" type="button">   <span class="glyphicon glyphicon-minus"></span>  Delete</button></td></tr>');
            $("#saveCfg").addClass("btn-outline-warning");
            $("#saveCfg").removeClass("btn-success");

        });

        function deleteMe(elem) {
            $(elem).closest('tr').get(0).remove();
            $("#saveCfg").addClass("btn-warning");
            $("#saveCfg").removeClass("btn-success");
        }
        
        function checkOID(inStr) {
            return RegExp("^([1-9][0-9]{0,3}|0)(\.([1-9][0-9]{0,3}|0)){1,13}$").test(inStr);
        }

        function checkTopic(inStr) {
            return (!(/\s/.test(inStr)) && inStr.length > 1)
        }

        function checkinterval(interval){
            return !isNaN(interval);
        }

    </script>

</body>
