<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">SNMP to MQTT</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/dash">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/upload">Upload</a></li>
            <li class="nav-item"><a class="nav-link" href="/saveDev">Devices</a></li>
            <li class="nav-item"><a class="nav-link" href="/saveCloud">Clouds</a></li>
            <li class="nav-item"><a class="nav-link" href="/saveCoordinates">Polling</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
        <br />
        <h4>Cloud Status</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cloud Address</th>
                    <th scope="col">Cloud Connected</th>
                    <th scope="col">Last Time Checked</th>
                </tr>
            </thead>
            <tbody id="statusTable">
                <tr>
                    <td>IP Address: {{ connected['address'] }}  </td>
                    <td> {{ connected['connected'] }} </td>
                    <td id="cloudTimer"> 0 Second Ago </td>
               </tr>

        </table>

        <br />

        <h4>Configured Coordinates</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Device</th>
                    <th scope="col">OID</th>
                    <th scope="col">Cloud Topic</th>
                    <th scope="col">Last Poll Time</th>
                    <th scope="col">Last Publish Time</th>
                    <th scope="col">Last Poll Value</th>

                </tr>
            </thead>
            <tbody id="statusTable">
                {% for x in points %}
                <tr>
                    <td> {{x.Host}}:{{x.Port}} </td>
                    <td> {{x.OID}} </td>
                    <td> {{x.Topic}}</td>
                    <td> {{x.Time}} </td>
                    <td> {{x.Publish}} </td>
                    <td> {{x.Value}} </td>
                </tr>
               {% endfor %}
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>

         setInterval(updateTimes, 1000);
         startSec = 0;
         startMinutes = 0;
         function updateTimes()
         {
           startSec++;
           if (startSec >= 60)
           {
             startSec-=60;
             startMinutes +=1;
           }
           if (startMinutes > 0)
           {
             timeString = startMinutes + " Min " + startSec + " Sec Ago";
           }
           else
           {
             timeString = startSec + " Seconds Ago";
           }
           $("#cloudTimer").html(timeString);
         }
    </script>

</body>
