<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Login</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid bg-dark text-white">
      <div class="container">
        <h1 class="display-4">SNMP to MQTT Converter</h1>
        <p class="lead">Login</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">

          <form action="/login" method="post">
              <label for="username">Username</label>
              <input type="username" class="form-control" name="username" id="username" placeholder="Administrator"/>
              <br />

              <button type="submit" class="btn btn-outline-primary col-4">Start</button>
          </form>
        </div>
      </div>
    </div>
  </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>