<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Upload</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">SNMP to MQTT</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/dash">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/upload">Upload</a></li>
            <li class="nav-item"><a class="nav-link" href="/saveDev">Devices</a></li>
            <li class="nav-item"><a class="nav-link" href="/saveCloud">Clouds</a></li>
            <li class="nav-item"><a class="nav-link" href="/saveCoordinates">Polling</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
    <br />
        <h4>Upload a File</h4>




        <table class="table">
          <thead>
            <tr>
              <th scope="col">File Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="filesTable">
          {% for item in files %}
            <tr>
              <td>{{ item | replace('"', '')}}</td>
              <td><button type="button" onclick="deleteFile({{ item }})" class="btn btn-outline-danger"> <span class="glyphicon glyphicon-minus"></span> Delete</button></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center"> 
            <form action="/upload" method = "POST" enctype="multipart/form-data">
            <div class="col form-group">
            <input type="file" name="file" value="fileupload" id="file1" style="width: 99%;" required>

            </div>
            <div class="col text-right form-group">
            <input type="submit" value="Upload" class="btn btn-outline-success">
            </div>
            </form>
            </div>
       </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>


      function deleteFile(toDelete) {
        console.log(toDelete);
        $.ajax({
          type: 'POST',
          url: '/deleteFile',
          data: JSON.stringify(toDelete),
          success: function (data) {
            console.log(data);
            window.location.href = '/upload';
          },
          contentType: "application/json",
          dataType: 'json'
        });
      }

    </script>
  </body>
