<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            <a class="nav-link" href="#">Devices</a>

            <a class="nav-link" href="#">Cloud Profiles<span class="sr-only">(current)</span></a>

            <a class="nav-link" href="#">Polling</a>

        </ul>
        <span class="navbar-text">
          Configure SNMP Device Profiles
        </span>
      </div>
    </nav>

    <div class="container">
    <br />
        <h4>Configure SNMP Devices</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cloud Name</th>
              <th scope="col">Broker Address</th>
              <th scope="col">Broker Port</th>
              <th scope="col">UserName</th>
              <th scope="col">Password</th>
              <th scope="col">Ping</th>
              <th scope="col">Action</th>
              <th scope="col">Ping Response</th>

            </tr>
          </thead>
          <tbody id="deviceTable">
            <tr id="control">
              <td> <input type="text" id="devName" class="form-control" placeholder="Give this device a Name"></td>
              <td> <input type="text" id="devIp" class="form-control" placeholder="Enter IP Address"></td>
              <td> <input type="text" id="devPort" class="form-control" placeholder="Enter a Port"></td>
              <td> <input type="text" id="mqttUsername" class="form-control" placeholder="Username"></td>
              <td> <input type="text" id="mqttPassword" type="password" class="form-control" placeholder="Password"></td>
              <th><button type="button" class="btn btn-outline-secondary" disabled>Ping</button></th>
              <th><button type="button" id="addDev" class="btn btn-outline-success">Create</button></th>
              <th>Unpinged</th>
            </tr>

        </table>

    </div>

    <div class="container">
      <div class="row">
        <div class="col text-center"> 
            <button type="button" class="btn btn-primary float-center col-6" id="saveCfg">Save All Configured Devices</button>
            </div>
        </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="errEnc">
      <div class="toast-header">
        <strong class="mr-auto">Error!</strong>
        <small class="text-muted"></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body" id="toastContent">
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>

        $('.toast').toast({ delay: 5000 });

        $("#saveCfg").click(function () {
            var table = $('#deviceTable').tableToJSON();
            console.log(table);
        });

        $("#addDev").click(function () {

            var count = $('#deviceTable tr').length;

            if (count > 5) {
                $("#toastContent").html("A Maximum of 5 SNMP Devices is Supported.");
                $('#errEnc').toast('show');
                return;
            }

            var devName = $("#devName").val();

            var ip = $("#devIp").val();
            var port = $("#devPort").val();

            var table = $("#deviceTable");

            if (!validateIPaddress(ip)) {
                $("#toastContent").html("A Invalid IP Address has been Detected!");
                $('#errEnc').toast('show');
                return;
            }

            if (parseInt(port) < 1 || parseInt(port) > 65535 || isNaN(port)) {
                $("#toastContent").html("A Invalid Port Number has been Detected!");
                $('#errEnc').toast('show');
                return;
            }

            var elem = document.getElementById(ip + port);

            if (elem != null) {
                $("#toastContent").html("A Duplicate Entry has been Detected!");
                $('#errEnc').toast('show');
                return;
            }


            table.append('<tr id=' + ip + port + '><td>' + devName + '</td><td>' + ip + ' </td><td>' + port + ' </td><td><button type="button" id="ping" class="btn btn-outline-warning">Ping</button></td><td><button onclick="deleteMe(this)" class="btn btn-outline-danger" type="button">Delete</button></td><td>Unpinged</th></tr>');
        });

        function deleteMe(elem) {
            $(elem).closest('tr').get(0).remove();
        }

        function validateIPaddress(ipaddress) {
            if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {
                return (true)
            }
            return (false)
        }

    </script>
  </body>